table,
th,
td {
    text-align: center;
    width: 600px;
    border-collapse: collapse;
}

table {
    border-bottom: 3px solid rgb(27, 209, 27)
}

.linha1 {
    background-color: rgb(27, 209, 27);
    border-collapse: collapse;
    border-spacing: 0;
    color: white
}

.linha3 {
    color: rgb(27, 209, 27);
    background-color: lightgray
}

.borda_esq {
    border-top-left-radius: 100px
}

.borda_dir {
    border-top-right-radius: 100px
}